@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
    background-color: #9ab3b3;
    font-family: 'Press Start 2P', cursive;
    text-align: center;
}

.row {
    margin-top: 40px;
}

.main-container  {
    margin: auto;
    width: 980px;
    height: 800px;
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
    border-radius: 10px;
}

.left-higher {
    display: flex;
    background-color: #a01632;
    height: 750px;
    margin-top: 0px;
    width: 520px;
    text-align: center;
    border-radius: 10px;
}

.left {
    background-color: #a01632;
    width: 470px;
    height: 700px;
    border-radius: 10px;
    margin-top: 50px;
}


.middle {
    background-color: crimson;
    width: 50px;
    height: 700px;
    border-radius: 10px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 50px;
}

.right-inner {
    width: 470px;
    height: 700px;
    border-radius: 0px;
    margin-top: 50px;
}

.screen-left {
    width: 470px;
    height: 600px;
    background-color: crimson;
    border-radius: 0px 0px 0px 10px;
}

.screen-right {
    width: 470px;
    height: 400px;
    background-color: lightgrey;
    border-radius: 10px;
}

.svg-left {
    vertical-align:top;
    fill: crimson;
}

.svg-right {
    vertical-align:top;
    fill: crimson;
    border-radius: 10px 10px 0px 0px;
}

.image-container-left {
    width: 400px;
    height: 200px;
    background-color: lightgrey;
    margin: auto;
    border-radius: 10px;
}

.image-container-left-evolve {
    height: 200px;
    width: 400px;
    height: 200px;
    background-color: lightgrey;
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;

}

ul {
    margin-top: 0;
}

p {
    margin-top: 0;
}

.body-right {
    background-color: crimson;
    height: 600px;
    border-radius: 0px 0px 10px 10px;
}

.content-right {
    display: inline-block;
    margin: auto;
    margin-top: 10px;
    background-color: dimgrey;
    width: 400px;
    height: 200px;
    border-radius: 10px;
    vertical-align: bottom;
}